# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\VNUK_Learning_Courses\Recommender System\SteamRecommendation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
